<div class="row">
  <div class="col-sm-9">
    <div id="messages" data-chat-room-id="<%= @chat_room.id %>">
    <% @chat_room.messages.each do |mes| %>
        <%= render partial: 'messages/message', locals: {message: mes} %>
    <% end %>
  </div>
    <p>
      <%= form_for @message, url: '#' do |f| %>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, class: 'form-control' %>
          <%= f.hidden_field :user_name, value: session['user_name'] %>
          <small class="text-muted">From 2 to 1000 characters</small>
        </div>

        <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
      <% end %>
    </p>
  </div>
  <div class="col-sm-3">

  </div>
</div>